<!doctype html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript">
            window.__PUBLIC_PATH__ = '{{ asset('build/fonts') }}';
            var baseUrl = '{{app.request.baseUrl}}';
        </script>
        {% block head %}
            {{ encore_entry_link_tags('bootstrapitalia') }}
            {{ encore_entry_link_tags('bicore') }}
            {% block stylesheets %}
            {% endblock %}
        {% endblock %}
    </head>            

    {% block body %}
        {% block menuapplicazione %}
            {{ generamenu() }}
        {% endblock %}
        {% for label, messages in app.flashes(['success','warning']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        {% block content %}
        {% endblock %}
        {% block bootstrapitaliajavascript %}
            <!--Consigliato da developer italia caricare il js di bootstrap in fondo alla pagina per una questione di velocità-->
            <!--ma anche perchè altrimenti nella console arriva un errore di typeerror e-->
            {{ encore_entry_script_tags('bootstrapitalia') }}

            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    {% endblock %}
</body>
</html>
