<tbody>
    <!-- Creazione riga per nuovo inserimento inline-->
    {%if (parametri.editinline|getparametrotabella == true)%}
        <tr data-bitableid='0' data-tabletoken="{{ csrf_token(parametri.nomecontroller|getparametrotabella) }}" data-token="{{ csrf_token(0) }}" class="d-flex inputeditinline sr-only">

            <td scope="row" class="biw-3 {% if (parametri.multiselezione|getparametrotabella == false) %}sr-only{% else %}text-center{% endif %}">
                <input data-bitableid='0' type="checkbox" class="biselecttablerow">
            </td>

            {% for colonnatabella in parametri.parametritabella %}
                {%if (colonnatabella.escluso == false ) %}
                    {% set decodifiche = (colonnatabella.decodifiche is defined)?colonnatabella.decodifiche:null%}
                    <td scope="row" data-idtabella="" data-nomecampo="{{colonnatabella.nomecampo}}" data-tipocampo="{{colonnatabella.tipocampo}}" data-editabile="{{colonnatabella.editabile}}" data-soggettoadecodifica="{{ (decodifiche)?1:0 }}" class="{{colonnatabella.larghezza|larghezzacolonna}} text-truncate" title="">
                        <input type="text" class="form-control" value="{{ colonnatabella.nomecampo == parametri.nomecontroller|getparametrotabella~'.id' ? 0 : ""}}" disabled/>
                    </td>
                {%endif%}
            {% endfor%} 

            <td class="colonnazionitabella biw-5">
                <a href="#" class="bibottonieditinline" data-azione="conferma" data-biid="0"><span class="it-check"></span></a>
                <a href="#" class="bibottonieditinline" data-azione="annulla" data-biid="0"><span class="it-close"></span></a>
            </td>
        </tr>
    {%endif%}
    <!-- Creazione riga per nuovo inserimento inline-->


    {% for record in parametri.recordstabella %}

        <tr data-bitableid='{{record.id}}' data-tabletoken="{{ csrf_token(parametri.nomecontroller|getparametrotabella) }}" data-token="{{ csrf_token(record.id) }}" class="d-flex context-menu-crud {{(parametri.editinline|getparametrotabella == true)?"inputeditinline":""}}">

            <td scope="row" class="biw-3 {% if (parametri.multiselezione|getparametrotabella == false) %}sr-only{% else %}text-center{% endif %}">
                <input data-bitableid='{{record.id}}' type="checkbox" class="biselecttablerow">
            </td>

            {% for colonnatabella in parametri.parametritabella %}
                {#{dump(colonnatabella)}#}
                <!--<td scope="row" class="{#{colonnatabella.escluso?"sr-only":""}}">{{record[colonnatabella.nomecampo]}#}</td>-->
                {%if (colonnatabella.escluso == false ) %}
                    {% set decodifiche = (colonnatabella.decodifiche is defined)?colonnatabella.decodifiche:null%}
                    {% set fieldvalue = object2view(field2object(colonnatabella.nomecampo,record,decodifiche),colonnatabella.tipocampo)  %}
                    <td scope="row" data-idtabella="{{colonnatabella.tipocampo == 'join'?joinfieldid(field2object(colonnatabella.nomecampo,record,decodifiche)):''}}" data-nomecampo="{{colonnatabella.nomecampo}}" data-tipocampo="{{colonnatabella.tipocampo}}" data-editabile="{{colonnatabella.editabile}}" data-soggettoadecodifica="{{ (decodifiche)?1:0 }}" class="{{colonnatabella.larghezza|larghezzacolonna}} text-truncate" title="{{fieldvalue}}">
                        {%if (parametri.editinline|getparametrotabella == true)%}
                            <input type="text" class="form-control" value="{{fieldvalue}}" disabled/>
                        {%else%}
                            {{fieldvalue}}
                        {%endif%}
                    </td>
                {%endif%}
            {% endfor%} 

            <td class="colonnazionitabella biw-5">
                <a href="#" class="bibottonimodificatabella{{parametri.nomecontroller|getparametrotabella}}" data-biid="{{record.id}}" data-toggle="confirmation-popout" data-singleton="true"><svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-settings')}}"></use></svg></a>
                <a href="#" class="bibottonieditinline sr-only" data-azione="conferma" data-biid="{{record.id}}" data-tabella="{{parametri.nomecontroller|getparametrotabella}}"><svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-check')}}"></use></svg></a>
                <a href="#" class="bibottonieditinline sr-only" data-azione="annulla" data-biid="{{record.id}}" data-tabella="{{parametri.nomecontroller|getparametrotabella}}"><svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-close')}}"></use></svg></span></a>
            </td>
        </tr>

    {%endfor%}
</tbody>