{%set nearbyPagesLimit = 3 %}
<tfoot>
    <tr>
        <td id="bitraduzionefiltri{{parametri.nomecontroller|getparametrotabella}}">
            <small>{{parametri.traduzionefiltri}}</small><br/><button id="birimuovifiltri{{parametri.nomecontroller|getparametrotabella}}" data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" class="badge birimuovifiltri {{parametri.traduzionefiltri?'':'sr-only'}}">Rimuovi filtri</button>
        </td>
    </tr>
    <tr>
        <td id="bitoolbarbottoni{{parametri.nomecontroller|getparametrotabella}}" scope="col" class="inline-block">
            <div class="float-sm-left">
                {% if (json_decode(parametri.permessi|getparametrotabella).create) %}
                    <button data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" type="button" class="btn btn-default btn-xs tabellaadd" data-toggle="tooltip" data-placement="top" title="Nuovo inserimento">
                        <svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-plus-circle')}}"></use></svg>
                    </button>
                {% endif %}
                {% if (json_decode(parametri.permessi|getparametrotabella).delete) %}
                    <button data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" type="button" class="btn btn-default btn-xs tabelladel" data-toggle="tooltip" data-placement="top" title="Elimina selezionati">
                        <svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-close-circle')}}"></use></svg>
                    </button>
                {% endif %}
                <button data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" type="button" class="btn btn-default btn-xs tabellarefresh" data-toggle="tooltip" data-placement="top" title="Aggiorna">
                    <svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-exchange-circle')}}"></use></svg>
                </button>
                <button data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" type="button" class="btn btn-default btn-xs btn-filter tabellasearch" data-toggle="tooltip" data-placement="top" title="Filtri">
                    <svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-search')}}"></use></svg>
                </button>
                <button data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" type="button" class="btn btn-default btn-xs tabelladownload" data-toggle="tooltip" data-placement="top" title="Scarica">
                    <svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-download')}}"></use></svg>
                </button>
            </div>
            <div class="float-sm-right">
                <nav class="pagination-wrapper justify-content-center" aria-label="Navigazione pagina {{parametri.nomecontroller|getparametrotabella}}">
                    <ul class="pagination">
                        <!--Prima pagina avanti e precedente-->
                        {% if parametri.paginacorrente != 1 %}
                            <li class="page-item">
                                <a class="page-link paginascelta" data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" data-paginascelta="1" href="#" title="Prima pagina">
                                    <svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-arrow-left-circle')}}"></use></svg>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link paginascelta" data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" data-paginascelta="{{parametri.paginacorrente-1}}" href="#" title="Pagina precedente">
                                    <svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-chevron-left')}}"></use></svg>
                                </a>
                            </li>
                        {% endif %}        

                        <!--Pagine centrali-->
                        {% for i in 1..parametri.paginetotali %}
                            {% if 0 == (parametri.paginacorrente - nearbyPagesLimit) - loop.index %} {# dot before #}
                                <li class="page-item d-none d-sm-block"><a class="page-link paginascelta" data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" data-paginascelta="{{ loop.index }}" href="#">...</a></li>
                                {% elseif 0 == (parametri.paginacorrente + nearbyPagesLimit) - loop.index %} {# dot after #}
                                <li class="page-item d-none d-sm-block"><a class="page-link paginascelta" data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" data-paginascelta="{{ loop.index }}" href="#">...</a></li>
                                {% elseif 0 < (parametri.paginacorrente - nearbyPagesLimit) - loop.index %} {# hide all before #}
                                {% elseif 0 > (parametri.paginacorrente + nearbyPagesLimit) - loop.index %} {# hide all after #}
                                {% else %}<!---->
                                    <!--<a href="{#{ path(url, { 'page': loop.index, 'q': query }) }#}">{#{ loop.index }#}</a>-->
                                {% if parametri.paginacorrente == loop.index  %} 
                                    <li class="page-item">
                                        <span class="page-link">
                                            <a class="page-link" href="#" aria-current="page">
                                                <span class="d-inline-block d-sm-none">Pagina </span>{{ loop.index }}
                                            </a>
                                        </span>
                                    </li>                
                                {%else%}<!---->
                                    <li class="page-item d-none d-sm-block"><a class="page-link paginascelta" data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" data-paginascelta="{{ loop.index }}" href="#">{{ loop.index }}</a></li>
                                {% endif %}<!---->
                            {% endif %}
                        {% endfor %}        

                        <!--Pagina avanti e ultima-->
                        {% if parametri.paginacorrente != parametri.paginetotali %}
                            <li class="page-item">
                                <a class="page-link paginascelta" data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" data-paginascelta="{{parametri.paginacorrente+1}}" href="#" title="Pagina successiva">
                                    <svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-chevron-right')}}"></use></svg>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link paginascelta" data-nomecontroller="{{parametri.nomecontroller|getparametrotabella}}" data-paginascelta="{{parametri.paginetotali}}" href="#"  title="Ultima pagina">
                                    <svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-arrow-right-circle')}}"></use></svg>
                                </a>
                            </li>
                        {% endif %}

                        <!--Pagina n di tot-->
                        <li class="page-item active">
                            <span class="page-link">
                                <span class="d-inline-block d-sm-none"></span>
                                Pagina {{parametri.paginacorrente}} di {{parametri.paginetotali}} (Righe estratte: {{parametri.righetotali}})
                                <span class="sr-only">corrente</span>
                            </span>
                        </li>
                    </ul>
            </div>
        </td>
    </tr>
</tfoot>
