{% set isnew = (entity.id is defined and entity.id != 0) ? false : true %}
{% set pathform = isnew ? path(nomecontroller|getparametrotabella ~ '_new') : path(nomecontroller|getparametrotabella ~ '_update', { 'id': entity.id }) %}
{% set form = (edit_form is defined )?edit_form:form  %}

{{ form_start(form,
                {'id': 'formdati'~nomecontroller|getparametrotabella,
                 'name': 'formdati'~nomecontroller|getparametrotabella, 
                 'method': 'POST', 
                 'action': pathform,
                 'attr': {'class': 'bitabellaform'}
                })
}}

<div class="form-row">
    <div class="form-group col-md-2">
        {{ form_row(form.nominativo) }}
    </div>
    <div class="form-group col-md-2">
        {{ form_row(form.datanascita) }}
    </div>        
    <div class="form-group col-md-2">
        {{ form_row(form.punti) }}
    </div>
    <div class="form-group col-md-2">
        {{ form_row(form.iscrittoil) }}
    </div>
    <!--Se uno vuole forzare ad andare a capo calcola quanto manca per arrivare a 12-->
    <!--<div class="form-group col-md-4"></div>-->
    <div class="form-group col-md-2">
        {{ form_row(form.creditoresiduo) }}
    </div>
    <div class="form-group col-md-2">
        {{ form_row(form.attivo) }}
    </div>

    <div class="form-group col-md-12">
        {{ form_row(form.note) }}
    </div>
</div>

<div class="clearfix">
    <div class="float-lg-right">
        {{ form_widget(form.submit) }}
        {%if not isnew %}
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseRegistroModifiche" aria-expanded="false" aria-controls="collapseRegistroModifiche">
                Registro modifiche
            </button>
        {%endif %}
    </div>
</div>
{{ form_end(form) }}

{% if not isnew %}
    <!--Attenzione a questo div che deve contenere tutte queste informazioni, altrimenti nella edit si raddoppiano 
    i div ogni chiamata ad una nuova edit -->
    <div id="{{nomecontroller|getparametrotabella}}SubTabellaDettagliContainer">
        <div class="collapse" id="collapseRegistroModifiche">
            <div class="card card-body">
                {% for modifica in elencomodifiche %}
                    <li>{{modifica.giorno|date("d/m/Y H:i:s")}} modificato {{modifica.nomecampo|e}} da {{ modifica.operatori.username|e }}, prima era: {{modifica.valoreprecedente|e}} </li>
                    {% endfor %}
            </div>
        </div>
        <ul class="nav nav-tabs nav-tabs-cards" id="card-simple" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="card-simple1-tab" data-toggle="tab" href="#card-simpletab1" role="tab" aria-controls="card-simpletab1" aria-selected="true">Ordini</a></li>
            <li class="nav-item"><a class="nav-link" id="card-simple2-tab" data-toggle="tab" href="#card-simpletab2" role="tab" aria-controls="card-simpletab2" aria-selected="false">Magazzino</a></li>
            <li class="nav-item-filler"></li>
        </ul>
        <div class="tab-content" id="card-simpleContent">
            <div class="tab-pane p-4 fade show active" id="card-simpletab1" role="tabpanel" aria-labelledby="card-simple1-tab">
                <!-- Tabella ordini -->
                <div id="tabellaOrdineCliente" data-clienteid="{{ entity.id }}" data-clientenominativo="{{entity.nominativo}}"></div>
            </div>
            <div class="tab-pane p-4 fade" id="card-simpletab2" role="tabpanel" aria-labelledby="card-simple2-tab">
                <!-- Tabella magazzino -->
                <div id="tabellaMagazzinoCliente" data-clienteid="{{ entity.id }}" data-clientenominativo="{{entity.nominativo}}"></div>
            </div>
        </div>
    </div>
{% endif %}
