{% set isnew = (entity.id is defined and entity.id != 0) ? false : true %}
{% set pathform = isnew ? path(nomecontroller|getparametrotabella ~ '_new') : path(nomecontroller|getparametrotabella ~ '_update', { 'id': entity.id }) %}
{% set form = (edit_form is defined )?edit_form:form  %}

{{ form_start(form,
                {'id': 'formdati'~nomecontroller|getparametrotabella,
                 'name': 'formdati'~nomecontroller|getparametrotabella, 
                 'method': 'POST', 
                 'action': pathform,
                 'attr': {'class': 'bitabellaform'}
                })
}}

{{ form_widget(form) }}

{%if not isnew %}
    <p>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Registro modifiche
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            {% for modifica in elencomodifiche %}
                <li>{{modifica.giorno|date("d/m/Y H:i:s")}} modificato {{modifica.nomecampo|e}} da {{ modifica.operatori.username|e }}, prima era: {{modifica.valoreprecedente|e}} </li>
                {% endfor %}
        </div>
    </div>
    <!-- Tabella ordini -->
    <div id="tabellaOrdineCliente">

    </div>
    <script type="text/javascript">
        var url = '{{path("Ordine_indexdettaglio")}}';
        var data = {
            prefiltri: [{nomecampo: "Ordine.Cliente.id", operatore: "=", valore: {{entity.id}}}],
            titolotabella: 'Ordini del cliente {{entity.nominativo}}',
            modellocolonne: [{nomecampo: 'Ordine.Cliente', escluso: true}],
            colonneordinamento: {'Ordine.data': 'DESC', 'Ordine.quantita': 'DESC'},
            multiselezione: true
        };

        $.ajax({
            type: 'POST',
            url: url,
            data: {parametripassati: JSON.stringify(data)}
        }).done(function (data) {
            $("#tabellaOrdineCliente").html(data);
        });
    </script>
{%endif %}

{{ form_end(form) }}
