{% extends "@BiCore/layout.html.twig" %}

{% block title %}Pannello di amministrazione progetto {{appname}}{% endblock %}

{% block javascripts %}
    {{parent()}}
    {%set userdir = rootdir | slice(0, rootdir|length - (appname|length) - 1)%}
    {{ encore_entry_script_tags('adminpanel') }}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('adminpanel') }}
{% endblock %}

{% block body %}
    {{parent()}}
    <div id="container">
        <div class="adminpanel utility">
            <div class="callout shadow-sm p-3 mb-5 bg-white">
                <div class="callout-title"><i class="it-ico" aria-hidden="true"></i><svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-settings')}}"></use></svg>Utilità</span> Utilità</div>
                <div class="form-group">
                    <button id="adminpanelcc" class="active btn btn-success" type="button">Clear cache</button>
                    <br/><br/>
                    {% if (svn == true) %}
                        <button id="adminpanelvcs" class="active btn btn-primary" data-vcs="svn" type="button">Prendi l'ultima versione da svn</button>
                        <br/><br/>
                    {% endif %}
                    {% if (git == true) %}
                        <button id="adminpanelvcs" class="active btn btn-primary" data-vcs="git" type="button">Prendi l'ultima versione da Git</button>
                        <br/><br/>
                    {% endif %}
                    <button id="adminpanelphpunittest" class="active btn btn-default" type="button">PHPUnit test</button>
                </div>
                <div class="form-group">
                    <label for='symfonycommand'>Comando symfony</label>
                    <input class="form-control autocomplete" type="text" id="symfonycommand" data-autocomplete='{{ comandisymfony|json_encode }}' value="" />
                    <br/>
                    <button id="adminpanelsymfonycommand" class="btn btn-warning" type="button">Esegue comando symfony</button>
                </div>
                <div class="form-group">
                    <label for='unixcommand'>Comando shell</label>
                    <input class="form-control autocomplete" type="search" id="unixcommand" value="" data-autocomplete='{{ comandishell|json_encode }}'>
                    <br/>
                    <button id="adminpanelunixcommand" class="btn btn-danger" type="button">Esegue comando da shell</button>
                </div>
            </div>
        </div>

        <div class="adminpanel entity">
            <div class="callout shadow-sm p-3 mb-5 bg-white">
                <div class="callout-title" data-toggle="tooltip" data-placement="top" title="{{database_url}}"><i aria-hidden="true"></i><svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-list')}}"></use></svg> Database</div>

                <div class="form-group">
                    <div class="bootstrap-select-wrapper">
                        <div class="dropdown bootstrap-select">
                            <select id="entityfile" title="Seleziona modello mysqlworkbench" data-live-search="true" data-live-search-placeholder="Cerca...">
                                {% for mwb in mwbs %}
                                    <option value="{{mwb}}">{{mwb}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>                
                </div>                

                <button id="adminpanelgenerateentity" class="active btn btn-success" type="button">Genera entity da modello workbench</button>
                <br/><br/>
                <button id="adminpanelaggiornadatabase" class="active btn btn-danger" type="button">Aggiorna schema database</button>
            </div>
        </div>
        <div class="adminpanel bundle">
            <div class="callout shadow-sm p-3 mb-5 bg-white">
                <div class="callout-title" data-toggle="tooltip" data-placement="top" title="Genera form"><svg class="icon icon-sm"><use xlink:href="{{asset('build/svg/sprite.svg#it-file')}}"></use></svg> Form</div>

                <div class="form-group">
                    <div class="bootstrap-select-wrapper">
                        <div class="dropdown bootstrap-select">
                            <select id="entityform" title="Seleziona una entity" data-live-search="true" data-live-search-placeholder="Cerca...">
                                {% for entity in entities %}
                                    <option value="{{entity}}">{{entity}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="form-check">
                            <input id="generatemplate" type="checkbox">
                            <label for="generatemplate">Genera template da estendere</label>
                        </div>
                    </div>
                </div>        

                <button id="adminpanelgenerateformcrud" class="active btn btn-default" type="button">Genera CRUD per il form</button>

            </div>
        </div>
    </div>
{% endblock %}
