{% extends "BiCoreBundle::layout.html.twig" %}

{% block title %}Pannello di amministrazione progetto {{appname}}{% endblock %}

{% block javascript %}
    {{parent()}}
    {%set userdir = rootdir | slice(0, rootdir|length - (appname|length) - 1)%}
    <script type="text/javascript">
        comandishell = [{%for item in comandishell%}"{{item|raw}}",{%endfor%} ];
        comandisymfony = [{%for item in comandisymfony%}"{{item|raw}}",{%endfor%} ];
        var currentfunction = "";
        var vcs = "";
        {% if (git == true) %}var vcs = "git";{% endif %}
        {% if (svn == true) %}var vcs = "svn";{% endif %}
    </script>
    <script type="text/javascript" src = "{{ asset('bundles/pannelloamministrazione/js/pannelloamministrazionefunzioni.js') }}?ver={{versione_tag_git()}}" ></script>
    <script type="text/javascript" src = "{{ asset('bundles/pannelloamministrazione/js/pannelloamministrazione.js') }}?ver={{versione_tag_git()}}" ></script>
    <script type="text/javascript" src = "{{ asset('bundles/pannelloamministrazione/js/pannelloamministrazionecommands.js') }}?ver={{versione_tag_git()}}" ></script>
{% endblock %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('bundles/pannelloamministrazione/css/pannelloamministrazione.css')}}?ver={{versione_tag_git()}}" />
{% endblock %}

{% block body %}
    {{parent()}}
    <div id="container">
        <div class="adminpanel utility">
            <div class="callout shadow-sm p-3 mb-5 bg-white">
                <div class="callout-title"><i class="it-ico it-settings" aria-hidden="true"></i><span class="sr-only">Utilità</span> Utilità</div>
                <div class="form-group">
                    <button id="adminpanelcc" class="active btn btn-success" type="button">Clear cache</button>
                    <br/><br/>
                    {% if (svn == true) %}
                        <button id="adminpanelvcs" class="active btn btn-primary" type="button">Prendi l'ultima versione da svn</button>
                        <br/><br/>
                    {% endif %}
                    {% if (git == true) %}
                        <button id="adminpanelvcs" class="active btn btn-primary" type="button">Prendi l'ultima versione da Git</button>
                        <br/><br/>
                    {% endif %}
                    <button id="adminpanelphpunittest" class="active btn btn-default" type="button">PHPUnit test</button>
                </div>
                <div class="form-group">
                    <label for='symfonycommand'>Comando symfony</label>
                    <input class="form-control autocomplete" type="text" id="symfonycommand" data-db="comandisymfony" value="" />
                    <br/>
                    <button id="adminpanelsymfonycommand" class="active btn btn-warning" type="button">Esegue comando symfony</button>
                </div>
                <div class="form-group">
                    <label for='unixcommand'>Comando shell</label>
                    <input class="form-control autocomplete" type="text" id="unixcommand" value="" data-db="comandishell"/>
                    <br/>
                    <button id="adminpanelunixcommand" class="active btn btn-danger" type="button">Esegue comando da shell</button>
                </div>
            </div>
        </div>

        <div class="adminpanel entity">
            <div class="callout shadow-sm p-3 mb-5 bg-white">
                <div class="callout-title" data-toggle="tooltip" data-placement="top" title="{{database_url}}"><i class="it-ico it-file" aria-hidden="true"></i><span class="sr-only">Database</span> Database</div>

                <div class="form-group">
                    <div class="bootstrap-select-wrapper">
                        <label class="active">Seleziona il modello mysqlworkbench</label>
                        <div class="dropdown bootstrap-select">
                            <select id="entityfile" title="Seleziona una opzione" data-live-search="true" data-live-search-placeholder="Cerca...">
                                {% for mwb in mwbs %}
                                    <option value="{{mwb}}">{{mwb}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>                
                </div>                

                <button id="adminpanelgenerateentity" class="active btn btn-success" type="button">Genera entity da modello workbench</button>
                <br/><br/>
                <button id="adminpanelaggiornadatabase" class="active btn btn-danger" type="button">Aggiorna schema database</button>
            </div>
        </div>
        <div class="adminpanel bundle">
            <div class="callout shadow-sm p-3 mb-5 bg-white">
                <div class="callout-title" data-toggle="tooltip" data-placement="top" title="Genera form"><i class="it-ico it-list" aria-hidden="true"></i><span class="sr-only">Form</span> Form</div>

                <div class="form-group">
                    <div class="bootstrap-select-wrapper">
                        <label class="active">Entità</label>
                        <div class="dropdown bootstrap-select">
                            <select id="entityform" title="Seleziona una opzione" data-live-search="true" data-live-search-placeholder="Cerca...">
                                {% for entity in entities %}
                                    <option value="{{entity}}">{{entity}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="form-check">
                            <input id="generatemplate" type="checkbox">
                            <label for="generatemplate">Genera template da estendere</label>
                        </div>
                    </div>
                </div>        

                <button id="adminpanelgenerateformcrud" class="active btn btn-default" type="button">Genera CRUD per il form</button>

            </div>
        </div>
    </div>
{% endblock %}
