{% extends 'BiCoreBundle::layout.html.twig' %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/bicore/js/tabella/bitabella.js') }}?ver={{versione_tag_git()}}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/bicore/js/tabella/bitabellainline.js') }}?ver={{versione_tag_git()}}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/bicore/js/tabella/bitabellafiltri.js') }}?ver={{versione_tag_git()}}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/bicore/js/tabella/biindex.js') }}?ver={{versione_tag_git()}}" ></script>
    {% if asset_exists('js/'~parametritabella.nomecontroller|getparametrotabella~'.js') %}
        <script type="text/javascript" src="{{ asset('js/'~parametritabella.nomecontroller|getparametrotabella~'.js') }}?ver={{versione_tag_git()}}" ></script>
    {%endif%}
{% endblock%}


{% block css %}
    {{parent()}}
    {% if asset_exists('css/'~parametritabella.nomecontroller|getparametrotabella~'.css') %}
        <link rel="stylesheet" href="{{ asset('css/'~parametritabella.nomecontroller|getparametrotabella~'.css') }}?ver={{versione_tag_git()}}" >
    {%endif%}
{% endblock%}

{% block content -%}
    <div id="main-tabella" class="main-tabella" data-nomecontroller="{{parametritabella.nomecontroller|getparametrotabella}}"></div>
    <div class="tabella-container">
        {% set parametri= '' %}
        {% for key,parametro in parametritabella %}
            {% set parametri = parametri ~ 'data-' ~ key ~ '="' ~ parametro~ '" ' %}
        {% endfor %}

        <div id="Parametri{{parametritabella.nomecontroller|getparametrotabella}}" class="parametri-tabella" {{parametri|raw}}></div>
        <div id="tabella{{parametritabella.nomecontroller|getparametrotabella}}"></div>
    </div>
{% endblock %}