<ul class="nav nav-tabs nav-tabs-cards" id="Tab{{parametri.nomecontroller|getparametrotabella}}" role="tablist">
    <li class="nav-item"><a class="nav-link pl-4 pr-4 active show" id="tab{{parametri.nomecontroller|getparametrotabella}}1a-tab" data-toggle="tab" href="#tab{{parametri.nomecontroller|getparametrotabella}}1a" role="tab" aria-controls="tab{{parametri.nomecontroller|getparametrotabella}}1a" aria-selected="true"><span class=""> Lista {{parametri.nomecontroller|getparametrotabella}}</span></a></li>
    <li class="nav-item"><a class="nav-link pl-4 pr-4" id="tab{{parametri.nomecontroller|getparametrotabella}}2a-tab" data-toggle="tab" href="#tab{{parametri.nomecontroller|getparametrotabella}}2a" role="tab" aria-controls="tab{{parametri.nomecontroller|getparametrotabella}}2a" aria-selected="false"><span class=""> Dettaglio {{parametri.nomecontroller|getparametrotabella}}</span></a></li>
    <li class="nav-item-filler"></li>
</ul>
<div class="tab-content" id="Tab{{parametri.nomecontroller|getparametrotabella}}Content">
    <div class="tab-pane p-3 fade active show" id="tab{{parametri.nomecontroller|getparametrotabella}}1a" role="tabpanel" aria-labelledby="tab{{parametri.nomecontroller|getparametrotabella}}1a-tab">
        <!--tabella-->
        {% include parametri.templatelocation ~ 'Tabella/tabella.html.twig' with parametri %}
        <!--/tabella-->
    </div>
    <div class="tab-pane p-3 fade" id="tab{{parametri.nomecontroller|getparametrotabella}}2a" role="tabpanel" aria-labelledby="tab{{parametri.nomecontroller|getparametrotabella}}2a-tab">
        <!--Form-->
        {%if (json_decode(parametri.permessi|getparametrotabella).create)%}
            {% include parametri.templatelocation ~ 'Tabella/tabellaform.html.twig' with parametri %}
        {%else%}
            <form id="formdati{{parametri.nomecontroller|getparametrotabella}}">
                <span>Non si hanno i diritti per la creazione di un nuovo contenuto</span>
            </form>
        {%endif%}
        <!--Form-->
    </div>
</div>
