<div class="card mb-3">
    <div class="card-body">
        <ul class="nav nav-tabs" id="Tab{{parametri.nomecontroller|getparametrotabella}}" role="tablist">
            <li class="nav-item"><a class="nav-link pl-4 pr-4 active show" id="tab{{parametri.nomecontroller|getparametrotabella}}1a-tab" data-toggle="tab" href="#tab{{parametri.nomecontroller|getparametrotabella}}1a" role="tab" aria-controls="tab{{parametri.nomecontroller|getparametrotabella}}1a" aria-selected="false"><i class="it-ico-sm it-file d-block text-center"></i><span class="sr-only"> Consultazione</span></a></li>
            <li class="nav-item"><a class="nav-link pl-4 pr-4" id="tab{{parametri.nomecontroller|getparametrotabella}}2a-tab" data-toggle="tab" href="#tab{{parametri.nomecontroller|getparametrotabella}}2a" role="tab" aria-controls="tab{{parametri.nomecontroller|getparametrotabella}}2a" aria-selected="false"><i class="it-ico-sm it-copy d-block text-center"></i><span class="sr-only"> Inserimento</span></a></li>

        </ul>
        <div class="tab-content" id="Tab{{parametri.nomecontroller|getparametrotabella}}Content">
            <div class="tab-pane p-3 fade active show" id="tab{{parametri.nomecontroller|getparametrotabella}}1a" role="tabpanel" aria-labelledby="tab{{parametri.nomecontroller|getparametrotabella}}1a-tab">
                <!--tabella-->
                {% include parametri.templatelocation ~ 'Tabella/tabella.html.twig' with parametri %}
                <!--/tabella-->
            </div>
            <div class="tab-pane p-3 fade" id="tab{{parametri.nomecontroller|getparametrotabella}}2a" role="tabpanel" aria-labelledby="tab{{parametri.nomecontroller|getparametrotabella}}2a-tab">
                <!--Form-->
                {% include parametri.templatelocation ~ 'Tabella/tabellaform.html.twig' with parametri %}
                <!--Form-->
            </div>
        </div>
    </div>
</div>